/* * importando fontes p os textos do site */ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
 
/* editando o conteudo geral do site  */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
/* editando o cabecalho  */
.header {
    background-color: rgba(82, 82, 224, 0.479);
    padding: 10px;
    margin: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}   

/* editando o corpo do site  */
body{
    font-family: Poppins,sans-serif;
  background-image: url('https://image.freepik.com/free-photo/perspective-exterior-nobody-empty-box_1258-260.jpg');  
    background-repeat:no-repeat;
    background-size:cover;
  }

/* editando o rodape */
.footer{  
    background-color: rgba(82, 82, 224, 0.479);
    padding: 49px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

/* editando tag do cabecalho central do site */
h1{
  padding: 20px 0;
  text-align: center; 
  font-family: 'Poppins', sans-serif;
}

/* editando div pai que engloba outras divs */
.all-members-card{  
  text-align: center;
  margin:23px 0;
  font-size:20px;
  color: rgb(0, 0, 0); 
  font-weight:bold; 
  font-family: 'Poppins', sans-serif;
}

/* efeitos dos links do cabecalho */
.HeaderButton{ 
background-color: #cf3acfd7;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
} 

/* efeitos do card Liliane */
.member-01{
  text-align: center;
  margin:40px 0;
  font-size:20px;
  padding: 5px 0;
}

.member-Liliane-Picture{
border: 5px solid rgb(243, 238, 238);
border-radius: 5px;
padding: 5px;
width: 150px;
}



.member-02{
  text-align: center;
  margin:40px 0;
  font-size:20px;
  padding: 5px 0;
}

.member-Rafaela-Picture{ 
  border: 5px solid rgb(243, 238, 238);
  border-radius: 5px;
  padding: 5px;
  width: 150px;}




.member-03{
  text-align: center;
  margin:40px 0;
  font-size:20px;
  padding: 5px 0;
}

.member-Rizza-Picture{ 
  border: 5px solid rgb(243, 238, 238);
  border-radius: 5px;
  padding: 5px;
  width: 150px;}

  .member-04{
    text-align: center;
    margin:40px 0;
    font-size:20px;
    padding: 5px 0;
  }
  
  .member-Alini-Picture{ 
    border: 5px solid rgb(243, 238, 238);
    border-radius: 5px;
    padding: 5px;
    width: 150px;}

    .member-05{
      text-align: center;
      margin:40px 0;
      font-size:20px;
      padding: 5px 0;
    }
    
    .member-Gabrielle-Picture{ 
      border: 5px solid rgb(243, 238, 238);
      border-radius: 5px;
      padding: 5px;
      width: 150px;}

      .member-06{
        text-align: center;
        margin:40px 0;
        font-size:20px;
        padding: 5px 0;
      }
      
      .member-Camila-Picture{ 
        border: 5px solid rgb(243, 238, 238);
        border-radius: 5px;
        padding: 5px;
        width: 150px;}

        .member-07{
          text-align: center;
          margin:40px 0;
          font-size:20px;
          padding: 5px 0;
        }
        
        .member-Katherine-Picture{ 
          border: 5px solid rgb(142, 28, 218);
          border-radius: 5px;
          padding: 5px;
          width: 150px;}










  .girls-linkedin{ 
    margin: 20px 30px;
    background-color: #cf3acfd7;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    } 




















